.board {
  font-family: Helvetica;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.board__row {
  display: flex;
}

.board__rowSquare {
  height: 60px;
  width: 60px;
  margin: 5px;
  border: 1px solid rgb(109, 109, 109);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  color: whitesmoke;
}

#correct {
  background-color: #528d4e;
  border: 1px solid #121212;
}
#almost {
  background-color: rgb(181, 159, 58);
  border: 1px solid #121212;
}
#error {
  background-color: #3a3a3b;
  border: 1px solid #121212;
}
